<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="User Profile"></Label>
</ActionBar>

<StackLayout class="page" height=100%>
    <StackLayout height=40%>
        <Label class="details" text="{{this.name}}" textWrap="true"></Label>
        <Label class="details" text="{{this.email}}" textWrap="true"></Label>
        <Label class="details" text="{{this.username}}" textWrap="true"></Label>
        <Label class="details" text="{{this.userType}}" textWrap="true"></Label>
    </StackLayout>
    <Button class="btn btn-primary btn-active" text="Change Password" (tap)="onTap()"></Button>
</StackLayout>