<RadSideDrawer #sideDrawer>
    <StackLayout tkDrawerContent>
        <StackLayout class="sidedrawer-header"></StackLayout>
        <StackLayout class="sidedrawer-content">
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Home" (tap)="navigateTo('user')"></Button>
            </StackLayout>
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Profile" (tap)="navigateTo('profile')"></Button>
            </StackLayout>
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Reserve" (tap)="navigateTo('reserve')"></Button>
            </StackLayout>
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Buildings" (tap)="navigateTo('user/buildinglist')"></Button>
            </StackLayout>
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Vehicles" (tap)="navigateTo('user/vehiclelist')"></Button>
            </StackLayout>
            <StackLayout class="sidedrawer-list-item">
                <Button class="btn btn-primary sidedrawer-list-item-text" text="Report" (tap)="navigateTo('user/report')"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>