<header>
</header>
<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">Start content</mat-sidenav>
  <mat-sidenav-content>
  <!-- Implicit main content -->
  <article>
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <img height="300" width="250" alt="Angular Logo" src="assets/logo.png">
      <router-outlet></router-outlet>
    </div>
  </article>
  <aside>
    aside
  </aside>
</mat-sidenav-content>
</mat-sidenav-container>