/* Add mobile styles for the component here.  */

.progress {
    background-color: white;
    height: 40;
    border-radius: 25
}

.progresstext {
    text-align: center;
    font-size: 20;
    color: black;
}