<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="User Home"></Label>
</ActionBar>

<ScrollView class="page" height=100%>
    <StackLayout class="home-panel" height=100%>
        <StackLayout *ngIf="this.showTimer" height=100%>
            <Label class="big" text="{{this.lotName}} {{this.spotName}}" textWrap="true"></Label>
            <Progress value="{{this.seconds}}" class="progress" maxValue="{{this.timer}}" color="{{this.color}}"></Progress>
            <Label class="progresstext" text="{{this.seconds}} seconds until your reservation expires!" textWrap="true"></Label>
            <Button class="btn btn-primary btn-active" text="Cancel Reservation" (tap)="onCancel()"></Button>

        </StackLayout>
        <StackLayout *ngIf="this.showSpot" height=100%>
            <Label class="big" text="{{this.lotName}} {{this.spotName}}" textWrap="true"></Label>
            <Label class="progresstext" text="your reserved parking spot!" textWrap="true"></Label>


        </StackLayout>
    </StackLayout>
</ScrollView>