/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

 @media (max-width: 600px) {
    article, aside {
      width: 100%;
      height: auto;
    }
  } 

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    height: 100%; /* only for demonstration, should be removed */
    /* background: white; */
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 75%;
    /* background-color: white; */
    height: 100%; /* only for demonstration, should be removed */
  }
aside {
    float: left;
    padding: 20px;
    height: 25%;
    width: 25%;
    /* background-color: white; */
}