<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Vehicle List"></Label>
</ActionBar>


<StackLayout class="page">
    <StackLayout height="60%">
        <Label textWrap="true" class="big" text="{{this.pickedVehicle}}
        
        {{this.pickedLicense}}"></Label>
        <Label height="25%" text="Choose a Vehicle to Reserve Under:" class="header"></Label>
    </StackLayout>

    <ListView height="40%" [items]="vehicles" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout>
                <Label [text]="item" class="list-group-item"></Label>

            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>