<ActionBar class="action-bar">
    <Label class="action-bar-title" text="{{this.newName}} Details"></Label>
    <ActionItem text="Submit" ios.position="right" android.position="actionBar" (tap)="onSubmit()"></ActionItem>
</ActionBar>

<ScrollView height=100% class="page">
    <StackLayout class="home-panel">
        <Label textWrap="true" class="big" text="{{this.total}}"></Label>
        <Label class="spots" text="Spots Available" textWrap="true"></Label>
        <Label class="lots" text="Building Info:" textWrap="true"></Label>
        
        <StackLayout orientation="horizontal">
            <Label class="lots" text="Name: " textWrap="true"></Label>
            <Button class="lotbutton" text="{{this.newName}}" (tap)="showDialogBox()"></Button>
        </StackLayout>

        <StackLayout orientation="horizontal">
            <Label class="lots" text="Location: " textWrap="true"></Label>
            <Button class="lotbutton" text="{{this.newLocation}}" (tap)="showDialogBox1()"></Button>
        </StackLayout>
        
        <StackLayout orientation="horizontal">
            <Label class="lots" text="Code: " textWrap="true"></Label>
            <Button class="lotbutton" text="{{this.newCode}}" (tap)="showDialogBox3()"></Button>
        </StackLayout>
        <Button text="DELETE BUILDING" class="lotbutton" (tap)="deleteBuilding()"></Button>
        <Label class="lots" text="Linked Lots:" textWrap="true"></Label>

        <StackLayout *ngIf="showSet" height=300>
            <Button id="1" text="{{this.lotNames[0]}}" class="lotbutton" (tap)="setLotToChange($event)"></Button>
            <Button id="2" text="{{this.lotNames[1]}}" class="lotbutton" (tap)="setLotToChange($event)"></Button>
            <Button id="3" text="{{this.lotNames[2]}}" class="lotbutton" (tap)="setLotToChange($event)"></Button>
        </StackLayout>
        <ListView *ngIf="!showSet" height="300" [items]="unsetLotNames" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-item="item" let-odd="odd" let-even="even">
              <StackLayout>
                <Label [text]="item" class="list-group-item"></Label>
                
              </StackLayout>
            </ng-template>
        </ListView>



    </StackLayout>

    
</ScrollView>